GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant
TABULAR_BLEND_ALPHA=0.12
SENDGRID_API_KEY=
ALERT_EMAIL_SENDER=
ALERT_EMAIL_RECIPIENT=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
ALERT_SMS_NUMBER=
MODEL_PATH=./models/coralguard_fusion_best.keras
DBSCAN_PATH=./models/dbscan_model.pkl
SCALER_PATH=./models/scaler.pkl
FEATURES_PATH=./models/features.pkl
